# Permission data

#moderatoristratorzyS

add_principal identifier.steam:110000141f6f336 group.best # simba
add_principal identifier.steam:110000144d2b098 group.best # tiger
add_principal identifier.steam:11000013c9bc5d1 group.superadmin #pepe
add_principal identifier.steam:11000013ccd0ac6 group.superadmin #MinionDave

add_principal identifier.steam:11000010faa462c group.admin #ŁYSY
add_principal identifier.steam:11000010b86f9a0 group.admin #N i c i a k o w s k y y
add_principal identifier.steam:110000140566bf9 group.admin #kweciu
add_principal identifier.steam:110000134af8c80 group.admin #Mateush
add_principal identifier.steam:1100001362fd9cd group.admin #tvlulix
add_principal identifier.steam:11000011d5569ef group.support #Treak
add_principal identifier.steam:110000134c677b1 group.admin #Greenek
add_principal identifier.steam:1100001125f22d6 group.admin #piurnik

add_principal identifier.steam:110000143caae3 group.trialsupport #Sєßøø_                                      
add_principal identifier.steam:110000145397dea group.trialsupport #Doktorek
add_principal identifier.steam:1100001435dcfc6 group.superadmin #3pok
add_principal identifier.steam:11000013b0eef32 group.superadmin #ajciu
add_principal identifier.steam:
add_principal identifier.steam:
add_principal identifier.steam:

#Permisje
add_principal group.trialsupport group.support group.moderator group.admin group.superadmin group.best

add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow

add_ace resource.uptime command.sets allow

add_ace group.trialsupport easyadmin.spectate allow


add_ace group.support easyadmin.spectate allow
add_ace group.support easyadmin.unban allow
add_ace group.support easyadmin.freeze allow
add_ace group.support easyadmin.kick allow
add_ace group.support easyadmin.ban allow
add_ace group.support easyadmin.noclip allow

add_ace group.moderator easyadmin.spectate allow
add_ace group.moderator easyadmin.unban allow
add_ace group.moderator easyadmin.freeze allow
add_ace group.moderator easyadmin.kick allow
add_ace group.moderator easyadmin.ban allow
add_ace group.moderator easyadmin.noclip allow
add_ace group.moderator easyadmin.teleport.player allow
add_ace group.moderator easyadmin.slap allow

add_ace group.admin easyadmin.spectate allow
add_ace group.admin easyadmin.unban allow
add_ace group.admin easyadmin.freeze allow
add_ace group.admin easyadmin.kick allow
add_ace group.admin easyadmin.ban allow
add_ace group.admin easyadmin.noclip allow
add_ace group.admin easyadmin.teleport.player allow
add_ace group.admin easyadmin.slap allow

add_ace group.superadmin easyadmin.spectate allow
add_ace group.superadmin easyadmin.unban allow
add_ace group.superadmin easyadmin.freeze allow
add_ace group.superadmin easyadmin.kick allow
add_ace group.superadmin easyadmin.ban allow
add_ace group.superadmin easyadmin.noclip allow
add_ace group.superadmin easyadmin.teleport.player allow
add_ace group.superadmin easyadmin.slap allow

add_ace group.best easyadmin.spectate allow
add_ace group.best easyadmin.unban allow
add_ace group.best easyadmin.freeze allow
add_ace group.best easyadmin.kick allow
add_ace group.best easyadmin.ban allow
add_ace group.best easyadmin.noclip allow
add_ace group.best easyadmin.teleport.player allow
add_ace group.best easyadmin.slap allow
add_ace group.best command allow

setr ea_LanguageName "pl"
setr ea_MenuButton "212" # PAGEUP
set ea_enableCallmoderatorCommand "true"
set ea_enableReportCommand "true"













#Permisje
add_principal group.trialsupport group.support group.moderator group.admin group.superadmin group.best

add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow

add_ace resource.uptime command.sets allow

add_ace group.trialsupport easyadmin.spectate allow


add_ace group.support easyadmin.spectate allow
add_ace group.support easyadmin.unban allow
add_ace group.support easyadmin.freeze allow
add_ace group.support easyadmin.kick allow
add_ace group.support easyadmin.ban allow
add_ace group.support easyadmin.noclip allow

add_ace group.moderator easyadmin.spectate allow
add_ace group.moderator easyadmin.unban allow
add_ace group.moderator easyadmin.freeze allow
add_ace group.moderator easyadmin.kick allow
add_ace group.moderator easyadmin.ban allow
add_ace group.moderator easyadmin.noclip allow
add_ace group.moderator easyadmin.teleport.player allow
add_ace group.moderator easyadmin.slap allow

add_ace group.admin easyadmin.spectate allow
add_ace group.admin easyadmin.unban allow
add_ace group.admin easyadmin.freeze allow
add_ace group.admin easyadmin.kick allow
add_ace group.admin easyadmin.ban allow
add_ace group.admin easyadmin.noclip allow
add_ace group.admin easyadmin.teleport.player allow
add_ace group.admin easyadmin.slap allow

add_ace group.superadmin easyadmin.spectate allow
add_ace group.superadmin easyadmin.unban allow
add_ace group.superadmin easyadmin.freeze allow
add_ace group.superadmin easyadmin.kick allow
add_ace group.superadmin easyadmin.ban allow
add_ace group.superadmin easyadmin.noclip allow
add_ace group.superadmin easyadmin.teleport.player allow
add_ace group.superadmin easyadmin.slap allow

add_ace group.best easyadmin.spectate allow
add_ace group.best easyadmin.unban allow
add_ace group.best easyadmin.freeze allow
add_ace group.best easyadmin.kick allow
add_ace group.best easyadmin.ban allow
add_ace group.best easyadmin.noclip allow
add_ace group.best easyadmin.teleport.player allow
add_ace group.best easyadmin.slap allow
add_ace group.best command allow

setr ea_LanguageName "pl"
setr ea_MenuButton "212" # PAGEUP
set ea_enableCallmoderatorCommand "true"
set ea_enableReportCommand "true"